<% layout('layouts/boilerplate') %>

    <body>
        <div class="container my-5">
            <h1 class="text-center mb-5 text-white">About ScummVM</h1>

            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <p class="lead text-white">
                        ScummVM is a program that enables users to play classic graphical adventure and role-playing
                        games, provided you already have the original game data files. The clever part about ScummVM is that it
                        replaces the original game executables, allowing these classic games to run on modern systems for which
                        they were never designed. Unlike an emulator, ScummVM is a complete rewrite of the games' executables,
                        making the games playable across a variety of platforms.
                    </p>
                    <p class="lead text-white">
                        ScummVM supports a vast library of over 325 adventure games, including some iconic titles. You can enjoy 
                        classics like the <em>Monkey Island</em> series, <em>Broken Sword</em>, <em>Myst</em>, <em>Blade Runner</em>, and
                        many more. Whether you're revisiting well-known favorites or discovering hidden gems, ScummVM offers a
                        unique way to experience these adventures.
                    </p>

                    <h3 class="mt-5 text-white">Useful Links</h3>
                    <ul class="list-group mt-3">
                        <li class="list-group-item">
                            <a href="https://docs.scummvm.org" target="_blank" rel="noopener noreferrer">ScummVM
                                Documentation</a>
                        </li>
                        <li class="list-group-item">
                            <a href="https://wiki.scummvm.org/index.php?title=Developer_Central" target="_blank"
                                rel="noopener noreferrer">ScummVM Developer Central</a>
                        </li>
                        <li class="list-group-item">
                            <a href="https://forums.scummvm.org/viewtopic.php?t=7886" target="_blank"
                                rel="noopener noreferrer">ScummVM Forum</a>
                        </li>
                    </ul>

                    <p class="text-center mt-5">
                        <a href="https://scummvm.org" target="_blank" rel="noopener noreferrer"
                            class="btn btn-primary">Visit the Official ScummVM Website</a>
                    </p>
                </div>
            </div>
        </div>
    </body>

    </html>