<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/hover.css">

<% layout('layouts/boilerplate') %>
    <% title='Meet The Team' %>

        <body>
            <div class="container my-5">
                <h1 class="text-center text-white mb-5">Meet The Team</h1>
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                    <!-- Team Member Cards -->
                    <!-- Example for Team Member 1 -->
                    <div class="col">
                        <div class="card h-100 bg-secondary text-white">
                            <div class="card-body text-center">
                                <h5 class="card-title">Corey McCann</h5>
                                <p class="card-text">
                                    <i class="bi bi-envelope me-2"></i>
                                    <a href="mailto:21ccm12@queensu.ca"
                                        class="text-decoration-none">21ccm12@queensu.ca</a>
                                </p>
                                <p class="card-text">
                                    <i class="bi bi-github me-2"></i>
                                    <a href="https://github.com/CoreyMcCann" target="_blank" rel="noopener noreferrer"
                                        class="text-decoration-none">github.com/CoreyMcCann</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Repeat for other team members -->
                    <div class="col">
                        <div class="card h-100 bg-secondary text-white">
                            <div class="card-body text-center">
                                <h5 class="card-title">Hayden Jenkins</h5>
                                <p class="card-text">
                                    <i class="bi bi-envelope me-2"></i>
                                    <a href="mailto:21hjdm@queensu.ca" class="text-decoration-none">21hjdm@queensu.ca</a>
                                </p>
                                <p class="card-text">
                                    <i class="bi bi-github me-2"></i>
                                    <a href="https://github.com/hjenkins04" target="_blank" rel="noopener noreferrer"
                                        class="text-decoration-none">github.com/hjenkins04</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100 bg-secondary text-white">
                            <div class="card-body text-center">
                                <h5 class="card-title">Simon Nair</h5>
                                <p class="card-text">
                                    <i class="bi bi-envelope me-2"></i>
                                    <a href="mailto:21scn1@queensu.ca" class="text-decoration-none">21scn1@queensu.ca</a>
                                </p>
                                <p class="card-text">
                                    <i class="bi bi-github me-2"></i>
                                    <a href="https://github.com/Simon-Nair" target="_blank" rel="noopener noreferrer"
                                        class="text-decoration-none">github.com/Simon-Nair</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100 bg-secondary text-white">
                            <div class="card-body text-center">
                                <h5 class="card-title">Benjamin Leray</h5>
                                <p class="card-text">
                                    <i class="bi bi-envelope me-2"></i>
                                    <a href="mailto:21bl45@queensu.ca" class="text-decoration-none">21bl45@queensu.ca</a>
                                </p>
                                <p class="card-text">
                                    <i class="bi bi-github me-2"></i>
                                    <a href="https://github.com/bleray4" target="_blank" rel="noopener noreferrer"
                                        class="text-decoration-none">github.com/bleray4</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100 bg-secondary text-white">
                            <div class="card-body text-center">
                                <h5 class="card-title">Ryan Van Drunen</h5>
                                <p class="card-text">
                                    <i class="bi bi-envelope me-2"></i>
                                    <a href="mailto:21rdbv@queensu.ca" class="text-decoration-none">21rdbv@queensu.ca</a>
                                </p>
                                <p class="card-text">
                                    <i class="bi bi-github me-2"></i>
                                    <a href="https://github.com/ryanvandrunen" target="_blank" rel="noopener noreferrer"
                                        class="text-decoration-none">github.com/ryanvandrunen</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100 bg-secondary text-white">
                            <div class="card-body text-center">
                                <h5 class="card-title">Jeremy Strachan</h5>
                                <p class="card-text">
                                    <i class="bi bi-envelope me-2"></i>
                                    <a href="mailto:21js138@queensu.ca" class="text-decoration-none">21js138@queensu.ca</a>
                                </p>
                                <p class="card-text">
                                    <i class="bi bi-github me-2"></i>
                                    <a href="https://github.com/JeremyStrachan" target="_blank" rel="noopener noreferrer"
                                        class="text-decoration-none">github.com/JeremyStrachan</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </body>

        </html>